<section class="page">
    <section class="ui-section">
        <div class="card bg-white">
            <div class="card-content">
                <!--<md-subheader class="md-no-sticky">Seleccionar datos</md-subheader>-->
                <div class="space"></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Agencia
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        dirección
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        Fecha
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">3</span>
                        Hora
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-danger">5</span>
                        Servicio
                    </li>
                </ul>
                <md-button class="md-raised btn-w-sm md-primary" ng-click="bookingDetailCtrl.cancel();">Cancelar</md-button>
            </div>
        </div>
    </section>
</section>
