<section class="page">
    <section class="ui-section">
      <md-progress-linear ng-show="bookingsCtrl.progress" md-mode="indeterminate"></md-progress-linear>
      <div class="clearfix">
        <h1 class="section-header">Mis reservas:</h1>
      </div>
      <div class="row">
        <div class="col-xs-4 ticket" ng-repeat="branch in bookingsCtrl.listBranchs">
          <span class="circle"></span>
          <div class="contenido" ng-click="bookingsCtrl.navigateTo(branch.id, $event)">
            <div class="row">
              <div class="col-xs-6">
                <label>Código</label>
                <p>{{branch.code}}</p>
              </div>
              <div class="col-xs-6">
                <label>Servicio</label>
                <p>{{branch.service.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label>Agencia</label>
                <p>{{branch.branch.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label>Inicio</label>
                <p>{{bookingsCtrl.getFechBookings(branch.start_time)}}</p>
              </div>
              <div class="col-xs-6">
                <label>Final</label>
                <p>{{bookingsCtrl.getFechBookings(branch.end_time)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>
<div class="md-padding actionButtons btn-float-next" layout="column">
  <md-fab-speed-dial md-open="false" md-direction="up"
    class="md-scale md-fab-bottom-right md-hover-full speed-dial">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn" ng-click="bookingsCtrl.addBooking();">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>
</div>
