<section class="page">
    <section class="ui-section">
      <div class="clearfix">
        <h2 class="section-header">Seleccione una opci&oacute;n:</h2>
      </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-white" ng-click="mainCtrl.navigateTo('0');">
                    <div class="card-content">
                        <div class="card-title">
                          <md-icon class="material-icons icon-color">event</md-icon>
                          <span>&nbsp;Reserva</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-white" ng-click="mainCtrl.navigateTo('1');">
                    <div class="card-content">
                      <div class="card-title">
                        <md-icon class="material-icons icon-color">receipt</md-icon>
                        <span>&nbsp;Ticket</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
