<div class="page">
    <div class="ui-section">
      <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
              <div class="card bg-white card-border-style">
                  <div class="card-content">
                    <div ng-repeat="print in ticketSummaryCtrl.printTicket">
                      <div ng-if="print.content === ''" class="row line-white">
                      </div>
                      <div class="row"
                      ng-if="print.content !== ''"
                      ng-class="{'alignment-left':print.align === 'LEFT', 'alignment-center':print.align === 'CENTER', 'alignment-right':print.align === 'RIGHT'}">
                          <div ng-switch="print.font">
                            <span ng-switch-when="A_REGULAR" class="type-A">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="B_REGULAR" class="type-B">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="A_DOUBLE_HIGH" class="type-A-double-high">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="B_DOUBLE_HIGH" class="type-B-double-high">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="A_DOUBLE_WIDTH" class="type-A-double-width">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="B_DOUBLE_WIDTH" class="type-B-double-width">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="A_QUADRUPLE" class="type-A-quadruple">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="B_QUADRUPLE" class="type-B-quadruple">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="C_DOUBLE_HIGH" class="type-C-double-high">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-when="C_DOUBLE_WIDTH" class="type-C-double-width">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                            <span ng-switch-default class="type-C-quadruple">
                              {{print.previous}}{{print.content}}{{print.next}}
                            </span>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-3"></div>
      </div>
    </div>
</div>
