<section class="page">
    <md-progress-linear ng-show="ticketsCtrl.progress" md-mode="indeterminate"></md-progress-linear>
    <section class="ui-section">
      <div class="clearfix">
        <h2 class="section-header">Tickets Generados:</h2>
      </div>
      <div class="row" ng-repeat="ticket in ticketsCtrl.listTickets">
        <div class="col-sm-offset-4 col-sm-4 ticket">
          <div class="card bg-white card-border-style contenido">
            <div class="col-xs-6"></div>
            <md-button class="col-xs-3 flotante" aria-label="Follow" ng-click="ticketsCtrl.updateTicket($event,ticket);">
              <span ng-show="ticket.status === 'ENABLED'" class="label label-success">{{ticket.status}}</span>
              <span ng-show="ticket.status === 'BLOCKED'" class="label label-warning">{{ticket.status}}</span>
            </md-button>
            <md-button class="col-xs-2 flotante" aria-label="Follow" ng-click="ticketsCtrl.cancelTicket($event,ticket);">
              <i class="fa fa-close" style="font-size:20px;color: black"></i>
            </md-button>
            <div class="card-content">
              <div ng-repeat="print in ticket.print">
                <div ng-if="print.content === ''" class="row line-white">
                </div>
                <div class="row"
                ng-if="print.content !== ''"
                ng-class="{'alignment-left':print.align === 'LEFT', 'alignment-center':print.align === 'CENTER', 'alignment-right':print.align === 'RIGHT'}">
                <div ng-switch="print.font">
                  <span ng-switch-when="A_REGULAR" class="type-A">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="B_REGULAR" class="type-B">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="A_DOUBLE_HIGH" class="type-A-double-high">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="B_DOUBLE_HIGH" class="type-B-double-high">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="A_DOUBLE_WIDTH" class="type-A-double-width">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="B_DOUBLE_WIDTH" class="type-B-double-width">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="A_QUADRUPLE" class="type-A-quadruple">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="B_QUADRUPLE" class="type-B-quadruple">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="C_DOUBLE_HIGH" class="type-C-double-high">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-when="C_DOUBLE_WIDTH" class="type-C-double-width">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                  <span ng-switch-default class="type-C-quadruple">
                    {{print.previous}}{{print.content}}{{print.next}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- <div class="card bg-white" ng-click="ticketsCtrl.navigateTo(ticket)" ng-repeat="ticket in ticketsCtrl.listTickets">
            <div class="card-content">
                <span class="card-title">{{ticket.branch.name}}</span>
                <h3>{{ticket.service.name}}</h3>
                <h6>{{ticket.service.name}}</h6>
            </div>
        </div> -->
      <div class="md-padding actionButtons btn-float-next" layout="column">
          <md-fab-speed-dial md-open="false" md-direction="up"
            class="md-scale md-fab-bottom-right md-hover-full speed-dial">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-warn" ng-click="ticketsCtrl.addTicket();">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
            </md-fab-trigger>
          </md-fab-speed-dial>
        </div>
    </section>
</section>
