<div class="page-signin">
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#!/">{{main.brand}}</a></h1>
                        </section>
                        <form class="form-horizontal" name="loginForm">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input name="user" type="text" ng-model="loginCtrl.username" ng-minlength="5" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Usuario</label>
                                    </div>
                                    <span style="color:red" ng-show="loginForm.user.$touched">
                                      <span ng-show="loginForm.user.$error.required">El campo está vacío!</span>
                                      <!--span ng-show="!loginCtrl.username.length">El valor mínimo es 5!</span-->
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input name="pass" type="password" ng-model="loginCtrl.password" ng-minlength="5" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                    <span style="color:red" ng-show="loginForm.pass.$touched">
                                      <span ng-show="loginForm.pass.$error.required">El campo está vacío!</span>
                                    </span>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <md-button class="md-raised btn-w-sm md-accent" ng-disabled="loginForm.$invalid" ng-click="loginCtrl.login();">Login</md-button>
                    </div>
                    <md-progress-linear ng-show="loginCtrl.progress" md-mode="indeterminate"></md-progress-linear>
                </div>

                <div class="additional-info">
                    <a href="#!/register">Registro</a>
                    <!--<span class="divider-h"></span>
                    <a href="#!/page/forgot-password">Forgot your password?</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
